.calendar {
  &_container {
    height: 80vh;
  }
  &_modal {
    min-height: 90vh;
  }
}

.scheduled {
  &_actions {
    margin-top: 0.5rem;
  }
  &_container {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: flex-start;
  }
  &_card {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0.1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    div {
      margin: auto auto auto 0;
    }
    &-right {
      margin: auto;
      border: 1px dotted lime;
    }
    span {
      color: rgba(0, 0, 0, 0.25);
      display: inline-block;
    }
  }
  &_recurrence {
    div {
      margin: 0.5rem 0;
    }
  }
}

.details-view {
  &_button {
    margin: 1rem 0 !important;
  }
  &_message {
    margin-top: 1rem !important;
  }
}
