.dog_upload {
  cursor: pointer;
}

.dog-details {

  &_content {

    &-item {

      >span {
        font-weight: bold;
      }
    }
  }
}

.dog-upload {
  text-align: center;
  &_preview {
    padding: 1rem;
  }
}

.doglist_container {
  @media (max-width: 991px) {
    justify-content: center;
  }
}
