.assign {
  display: flex;
  flex-direction: column;

  &_container {
    flex: 1;
    display: flex;
  }
  &_summary {
    flex: 1;
    margin-bottom: 0.5rem;
  }
  &_walkers {
    flex: 1;
    border-right: 1px solid lightgrey;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
  }
  &_clients {
    flex: 3;
  }
  &_filter {
    margin-bottom: 1rem;
  }
  &_selected {
    border: 1px solid lightgrey;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

    &-active {
      display: flex;
      margin-bottom: 0.5rem;
    }

    &-walker {
      flex: 1;
    }
    &-clients {
      flex: 3;
    }
    &-actions {
      // margin-bottom: 0.5rem;
    }
  }
}
