@import '../../colors';

.auth {
  display: flex;

  &_container {
    margin: auto;
    width: 85%;
    max-width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    padding: 1rem;
  }
  &_heading {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  &_feedback {
    margin: 1.5rem 0;
    font-style: italic;
    color: $dkgrey;
  }
  &_link {
    margin-top: 1.5rem;
  }
}
