.client {
  &_csv-upload {
    div {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      max-width: 800px;
      // margin: auto;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      span {
        flex: 1;
        padding-right: 1rem;
        margin: auto;
        text-align: right;
        max-width: 20rem;

        @media (max-width: 768px) {
          text-align: center;
        }
      }
      label {
        margin: auto;
        flex: 1;
        align-self: flex-start;
        max-width: 30rem;
        @media (max-width: 768px) {
          max-width: 100%;
          align-self: auto;
        }
      }
    }
  }
}
.client_editor {
  &-input {
    margin-bottom: 1rem;
  }
  &-form {
    display: flex;
    flex-direction: column;
    div {
      flex: 1;
      margin-bottom: 0.5rem;
    }
  }
  &-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    &:last-of-type {
      border-bottom: none;
    }

    &-remove {
      cursor: pointer;
    }
  }
}

.dog-editor {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem;
}
